.container {
    display: flex;
    
}

.grid {
    width: 200px;
    height: 400px; 
   display: grid;
   grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
    /*display: inline-grid;*/
   /*flex-wrap: wrap;*/
    background-color: white;
    /*border: 10px solid #ccc;*/
}

.grid div {
  /* background-color: yellow;*/ 
    height: 18px;
    width: 18px;
   border: 1px solid #ccc;
}

/* .grid1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
   // width: 190px;
    //height: 380px; 
    background-color: yellow;
    margin-left: 10px;
    margin-top: 20px;
 }

 .grid1 div {
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
 } */

 .override {
    border: transparent;
 }
 .override div {
     background-color:white;
     border: transparent;
 }

.tetromino {
    background-color: blue;
}

.minigrid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap:wrap;
    background-color:yellow;
}

.minigrid div {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
}

.instruction {
    margin-top: 20px;
}